body::before{
    display: block;
    content: '';
    height: 60px;
}
@media(min-width: 768px){
    .news-input {
        width: 50% ;
    }
}

.btn-primary{
    background-color: #1b0c37; 
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: white;
    color:#1b0c37;
}

.now{
    color:#94849c;
}

.newsletter{
    color: #1b0c37;
    background-color: #1b0c37;
}
.accordion-button:not(.collapsed) {
    color: #635b74;
    background-color: #fff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
    
}